@model Jogador
@{
    ViewData["Title"] = "Jogadores";
}

<link rel="stylesheet" href="~/css/jogadores.css">


@if (ViewBag.UserName == null)
{
    <section class="container-grid cadastro-equipes">
        <div class="frm-cad-equipe">
            <div class="cadequipe-titulo">
                <h1>Login não realizado</h1>
                <hr>
            </div>
            <p style="font-size: 17px;" class="card-text">Faça o login para poder acessar o conteúdo requisitado</p>
            <div class="nlog-btns">
                <a asp-controller="Login" asp-action="Index" class="card-link">Login</a>
                <a class="card-link" asp-controller="Home" asp-action="Index">Home</a>
            </div>
        </div>
    </section>
}

else
{
    <section class="container-grid cadastro-equipes">
        <form method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data" class="frm-cad-equipe">
            <div class="cadequipe-titulo">
                <h1>Cadastro de Jogadores</h1>
                <hr>
            </div>

            <select class="campo-entrada" id="equipe-select" aria-label="Default select example" name="Equipe">
                <option style="background-color: transparent;" selected>Selecione uma Equipe</option>
                @foreach (Equipe equipe in ViewBag.Equipe)
                {
                    <option style="background-color: transparent;" value=@equipe.IdEquipe>@equipe.Nome</option>
                }
            </select>
            <input class="campo-entrada" type="text" name="Nome" id="nome-jogador" placeholder="Digite o nome do Jogador:">
            <input class="campo-entrada" type="email" name="Email" id="email-jogador"
                placeholder="Digite o Email do Jogador:">
            <input class="campo-entrada" type="password" name="Senha" id="senha" placeholder="Digite a Senha:">
            <button>Cadastrar</button>




        </form>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Equipe</th>
                    <th>&spades;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Jogador jogador in ViewBag.Jogador)
                {
                    <tr>
                        <td>@jogador.IdJogador</td>
                        <td>@jogador.Nome</td>
                        <td>@jogador.Email</td>
                        <td><img src="/img/Equipe/@jogador.Equipe.Imagem" alt="" width="50px"></td>
                        <td style="gap: 20px;">
                            <a asp-area="" asp-controller="Jogador" asp-action="Excluir" asp-route-id="@jogador.IdJogador"><img class="yellow-trash" src="~/assets/trash.png" alt=""></a>
                            <a asp-area="" asp-controller="Jogador" asp-action="Editar" asp-route-id="@jogador.IdJogador"><img src="~/assets/edit-3-xxl.png" alt="" width="20px"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}